<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siddworks.assistantfortt2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TTHelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PermissionDeniedActivity"
            android:label="@string/permission_denied"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/choose_save_file"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StyleSelectionActivity"
            android:label="@string/select_style"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.siddworks.assistantfortt2.SettingsActivity" />
        </activity>
        <activity
            android:name=".StyleColorSelectionActivity"
            android:label="@string/select_style"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileNotFoundActivity"
            android:label="@string/file_not_found"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AboutActivity"
            android:label="@string/action_about"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>